python-dotenv
pandas
matplotlib
seaborn
kagglehub
langchain-openai
langchain-google-vertexai
langchain-google-genai
langchain_community
langchain-chroma
transformers
gradio
notebook
ipywidgets
google-generativeai
sentence-transformers
langchain-huggingface
langchain
fastapi
uvicorn[standard]
